.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 92px;
    padding: 0 48px;
}

@media screen and (max-width: 1025px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 932px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 88px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 717px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin-bottom: 64px;
        padding: 0 16px;
    }
}