.place__paragraph {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 932px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
}

@media screen and (max-width: 717px) {
    .place__paragraph {
        padding: 0 16px;
    }
}