.intro {
    margin-bottom: 92px;
    padding: 0 148px;
    max-width: 690px;
}

@media screen and (max-width: 1025px) {
    .intro {
        padding: 0 48px;
    }
}

@media screen and (max-width: 932px) {
    .intro {
        margin-bottom: 86px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 717px) {
    .intro {
        margin-bottom: 64px;
        padding: 0 16px;
    }
}