.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1025px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 932px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
        margin-bottom: 68px;
    }
}

@media screen and (max-width: 717px) {
    .cover {
        min-height: 200px;
    }
}