.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, fit-content);
    gap: 48px 40px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1025px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 33px;
        margin-bottom: 79px;
    }
}

@media screen and (max-width: 932px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 38px;
        margin-bottom: 71px;
    }
}

@media screen and (max-width: 717px) {
    .place {
        display: block;
        margin-bottom: 50px;
    }
}